.form {
    background-color: #e3f2fd;
    border-radius: 10px;
}

.form-prescription {
    border-top: solid 1px;
    border-left: solid 1px;
    border-right: solid 1px;
    border-color: #cccccc;
    padding: 20px;
}

.ui-autocomplete
{
    position:absolute;
    cursor:default;
    z-index:1001 !important
}